header{
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	border-bottom: solid;
	border-top: solid;
	border-color: darkred;
}

header *{
	color: black;
	text-decoration: none;
	margin: 20px;
	font-size: larger;
	font-family:sans-serif;
} 

#current-page{
	color:darkred;
}

section{
	display:flex;
	justify-content: center;
}

section div{
	margin: 30px;
	padding: 40px;
}

#profile>img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

#profile{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}

#content{
	display: flex;
	flex-direction: column;
	border-left: solid;
	border-top: none;
	border-color: lightgray;
	width: 500px;
}

#content img{
	border-radius: 50%;
	height: 25px;
	width: 25px;
}

footer{
	position: fixed;
	bottom:0;
	width:100%;
	display: flex;
	justify-content: center;
	border-top: solid;
	border-color: lightgray;
	position: fixed;
	bottom: 0;
	height: 50px;
	background-color: white;

}

@media screen and (max-width: 1000px){
	section{
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#content{
		border-top: solid;
		border-left: none;
		border-color: lightgray;
		width: 500px;
	}
}




.experience{
	display:flex;
	justify-content: space-between;
	align-items: flex-start;
	margin:0;
	padding:0;
}

.experience div{
	display: flex;
	flex-direction: column;
	margin:0;
	padding:0;
	padding-bottom: 50px;
}

.experience div *{
	margin:0;
	padding:0;
}

.align-right{
	display: flex;
	justify-content: end;
}